@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Nunito:wght@200&family=Outfit:wght@300&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: grid;
    place-items: center;
}

h1{
    text-align: center;
    font-size: 50px;
}

.container{
    width: 320px;
    height: 470px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px black;
}

button{
    font-size: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
}

.row{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

input{
    font-size: 40px;
    width: 285px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: none;

}
input:focus{
    outline: none;
}

.zero-button{
    width: 139px;
    border-radius: 50px;
    background-color: rgb(78, 78, 78);
    color: white;
    margin-left: 5px;
}

.black-color{
    background-color: rgb(78, 78, 78);
    color: white;
    margin-left: 5px;
}
.black-color:active{
    background-color: rgb(54, 54, 54);
}

.red-color{
    background-color: rgb(204, 0, 44);
    color: white;
    margin-right: 5px;
}
.red-color:active{
    background-color: rgb(139, 0, 30);
}

.gray-color{
    background-color: rgb(172, 172, 172);
    margin-left: 5px;
}
.gray-color:active{
    background-color: rgb(121, 121, 121);

}

h2{
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}